$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$primary-text: #ffffff;

$free-color: #59b84e;
$busy-color: #d85151;

body,
html {
  font: 100% $font-stack;
  background: $primary-color;
  color: $primary-text;
}

.btn {
  width: 200px;
  height: 60px;
  color: $primary-text;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #3e3e3e;
  cursor: pointer;
  font-size: 30px;
  background-color: rgb(35, 35, 35);

  &:hover {
    background: #171717;
  }
  
  &.busy {
   border-bottom: 3px solid $busy-color;
  }

  &.free {
   border-bottom: 3px solid $free-color;
  }

}

.small-btn {
  width: 100px;
  height: 40px;
  color: $primary-text;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #3e3e3e;
  background-color: #4b4b4b;
  margin-top: 26px;
  cursor: pointer;
  font-size: 15px;

  margin-right: 10px;
  &.restart {
    background-color: #c45656;

    &:hover {
      background: #b34d4d;
    }
  }
}

.room-selector {
  margin: 12px 0 12px 0;
  display: flex;
  align-items: center;
}

.status {
  border-radius: 8px;
  margin-left: 20px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 46px;
  font-size: 18px;
  text-transform: uppercase;

  &.busy {
    background: $busy-color
  }
  &.free {
    background: $free-color
  }
}

hr {
  border-color: rgb(77, 77, 77);
}