html,
body {
  background: #262626;
}

.status-wrap {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.free {
  background: rgb(51, 157, 51);
}

.busy {
  background: rgb(181, 62, 62);
}

.uk-button {
  color: rgb(247, 247, 247);
  border: 1px solid #000;
  font-weight: bold;
}

.uk-button:hover {
  color: #fff;
  border: 1px solid rgb(55, 55, 55);
}

.uk-button:hover.free {
  background-color: rgb(65, 181, 65);;
}

.uk-button:hover.busy {
  background-color: rgb(205, 72, 72);;
}